# Configuración del ChatBot IA

# LLMs y API Keys
OPENAI_API_KEY=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
GOOGLE_API_KEY=AIzaSyAwTHGjHkE-8o400Y8qJEmueKNWu85xw14
GROQ_API_KEY=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

# Chroma Cloud Configuration
CHROMA_API_KEY=ck-FjjX9KynQkPnCD2wZLegfKb6tvRZ6FGLy19JqLvyqE4A
CHROMA_TENANT=444646f5-4326-4805-812f-c5475bf979fd
CHROMA_DATABASE=ChatBotSI
CHROMA_COLLECTION_NAME=mis_documentos_ia
MAX_BATCH_SIZE=300

# Logs y monitoreo
LOG_LEVEL=INFO