streamlit
langchain
langchain-openai
langchain-google-genai
langchain-community
chromadb
pypdf
python-dotenv
sentence-transformers
tf-keras                  
langchain-huggingface      
torch --index-url https://download.pytorch.org/whl/cpu